.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background-color: #333;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

button {
  padding: 5px 10px;
}